playbook-Policy_Optimizer_-_Manage_Rules_with_Unused_Applications.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 1.1.25
    packID: PANOSPolicyOptimizer
    packName: PAN-OS Policy Optimizer (beta)
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |
  This playbook helps identify and remove unused applications from security policy rules. If you have application-based security policy rules that allow a large number of applications, you can remove unused applications (applications never seen on the rules) from those rules to allow only applications actually seen in the rule’s traffic. This strengthens your security posture by reducing the attack surface.
id: Policy Optimizer - Manage Rules with Unused Applications
inputs:
- description: Slack user to notify about port based rules.
  key: slack_user
  playbookInputQuery: null
  required: false
  value: {}
- description: User email address to notify about port based rules.
  key: email_address
  playbookInputQuery: null
  required: false
  value: {}
- description: Specifies whether you want to auto-commit the configuration for the
    PAN-OS policy changes automatically (Yes/No).
  key: auto_commit
  playbookInputQuery: null
  required: false
  value: {}
name: Policy Optimizer - Manage Rules with Unused Applications
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cd6d5fdb-ca7f-4323-85ae-66efb5e3430f
      iscommand: false
      name: ""
      version: -1
    taskid: cd6d5fdb-ca7f-4323-85ae-66efb5e3430f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 370,
          "y": 20
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: PAN-OS Policy Optimizer
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available.
      id: abfb17cc-7229-4476-820d-1ea1c91ada64
      iscommand: false
      name: Is PAN-OS Policy Optimizer integration available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: abfb17cc-7229-4476-820d-1ea1c91ada64
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 370,
          "y": 170
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 54d28a35-d48d-443b-8967-66b5fe64e7d3
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 54d28a35-d48d-443b-8967-66b5fe64e7d3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 370,
          "y": 2610
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 44ec1599-5027-4892-837c-fd4a51f82edb
      iscommand: false
      name: Manage Port Based Rules
      type: title
      version: -1
    taskid: 44ec1599-5027-4892-837c-fd4a51f82edb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 340
        }
      }
  "4":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: PAN-OS Rules with Unused Applications
      output:
        complex:
          accessor: UnusedApps
          root: PanOS.PolicyOptimizer
          transformers:
          - args:
              headers:
                value:
                  simple: "@name,@uuid\t,description,action,application,apps-allowed-count,apps-seen-count,source,source-user,service,destination,to,disabled,hit-count,from,last-app-seen-since-count,last-hit-timestamp,rule-creation-timestamp,rule-modification-timestamp"
              title: {}
            operator: JsonToTable
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets the unused apps.
      id: c4bad7c5-4137-4882-80ed-2bcafcc63aa0
      iscommand: true
      name: PAN-OS - Get policies with unused apps
      script: '|||pan-os-po-unused-apps'
      type: regular
      version: -1
    taskid: c4bad7c5-4137-4882-80ed-2bcafcc63aa0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 470
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: UnusedApps
                root: PanOS.PolicyOptimizer
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there any policies with unused apps?
      id: 1e2a5532-89fa-4fd6-8519-91e479790bdc
      iscommand: false
      name: Are there any policies with unused apps?
      type: condition
      version: -1
    taskid: 1e2a5532-89fa-4fd6-8519-91e479790bdc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": 650
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
      - "9"
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c243ca73-fcc9-4703-8c08-966d512dac91
      iscommand: false
      name: Notify
      type: title
      version: -1
    taskid: c243ca73-fcc9-4703-8c08-966d512dac91
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 820
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.email_address
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there an email address input configured?
      id: 2c28b017-a56f-4fa7-8c76-b5bb1d157912
      iscommand: false
      name: Is there an email address?
      type: condition
      version: -1
    taskid: 2c28b017-a56f-4fa7-8c76-b5bb1d157912
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 960,
          "y": 960
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.slack_user
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a slack user input configured?
      id: d055a0ae-8e0a-48c5-8e37-9598b7715782
      iscommand: false
      name: Is there a slack user?
      type: condition
      version: -1
    taskid: d055a0ae-8e0a-48c5-8e37-9598b7715782
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 960
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 50080dee-1af8-4285-8c36-ced8ef3ee67f
      iscommand: false
      name: Take action
      type: title
      version: -1
    taskid: 50080dee-1af8-4285-8c36-ced8ef3ee67f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1300
        }
      }
  "11":
    continueonerrortype: ""
    form:
      description: PAN-OS Policy Optimizer has discovered rules with unused applications
        in your environment. If you have application-based security policy rules that
        allow a large number of applications, you can remove unused applications (applications
        never seen on the rules) from those rules to only allow applications actually
        seen in the rule’s traffic.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Please choose the action for the playbook to continue.
        options: []
        optionsarg:
        - simple: Edit rule
        - simple: Delete rule
        - simple: Manual action
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Rules with Unused Applications
      totalanswers: 0
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: PAN-OS Policy Optimizer has discovered rules with unused applications
          in your environment.
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.email_address
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      subject:
        simple: PAN-OS Policy Optimizer has discovered rules with unused applications
          in your environment.
      to:
        complex:
          root: inputs.email_address
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email using Gmail.
      id: 1e0cedbc-1392-4933-8e5a-e609ba080139
      iscommand: false
      name: Send mail
      type: collection
      version: -1
    taskid: 1e0cedbc-1392-4933-8e5a-e609ba080139
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 770,
          "y": 1130
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: Rules with Unused Applications.Answers
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: edit rule
      label: Edit rule
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: Rules with Unused Applications.Answers
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: delete rule
      label: Delete rule
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      Delete rule:
      - "28"
      Edit rule:
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Choose an action for the playbook.
      id: 0e9d7e5e-330e-44e5-8d9d-e142e0446c70
      iscommand: false
      name: Choose action to take
      type: condition
      version: -1
    taskid: 0e9d7e5e-330e-44e5-8d9d-e142e0446c70
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1560,
          "y": 1600
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      rulename:
        complex:
          accessor: "0"
          root: Unused applications rules to delete.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Deletes a policy rule.
      id: 90ffbaa7-1be5-4d0d-8c17-528f9421124f
      iscommand: true
      name: PAN-OS - Delete Rule
      script: '|||pan-os-delete-rule'
      type: regular
      version: -1
    taskid: 90ffbaa7-1be5-4d0d-8c17-528f9421124f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1260,
          "y": 1940
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually handle the policy rules with unused applications.
      id: a6dc6bf1-3b31-4d13-81c5-4b5bb78dad60
      iscommand: false
      name: Manually handle rules with unused applications
      type: regular
      version: -1
    taskid: a6dc6bf1-3b31-4d13-81c5-4b5bb78dad60
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 700,
          "y": 1770
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Panorama
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available.
      id: 9b1c4aec-8a27-4229-8516-4215627511a8
      iscommand: false
      name: Is PAN-OS integration available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 9b1c4aec-8a27-4229-8516-4215627511a8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1430
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.auto_commit
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the auto-commit configuration input enabled?
      id: 4a04023c-438a-4ba2-86e2-9e1c1f7b3adf
      iscommand: false
      name: Auto-commit configuration input enabled?
      type: condition
      version: -1
    taskid: 4a04023c-438a-4ba2-86e2-9e1c1f7b3adf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1260,
          "y": 2100
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 6b10c888-41bd-4ea4-8a63-db41d06fbcc3
      iscommand: false
      name: PAN-OS Commit Configuration
      playbookId: PAN-OS Commit Configuration
      type: playbook
      version: -1
    taskid: 6b10c888-41bd-4ea4-8a63-db41d06fbcc3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 2440
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "Yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should the playbook automatically commit the enabled configuration
        input?
      id: 1fc42e5b-c872-4a14-8c96-aac5fd7fea5d
      iscommand: false
      name: Automatically commit PAN-OS configuration?
      type: condition
      version: -1
    taskid: 1fc42e5b-c872-4a14-8c96-aac5fd7fea5d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 2270
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually commit the PAN-OS configuration.
      id: 98d7ab48-5de1-4787-8fcd-e52c79b42257
      iscommand: false
      name: Manually commit PAN-OS configuration
      type: regular
      version: -1
    taskid: 98d7ab48-5de1-4787-8fcd-e52c79b42257
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 940,
          "y": 2440
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      builtincondition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RulesToEdit
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "no"
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      rules_list:
        complex:
          accessor: '@name'
          root: PanOS.PolicyOptimizer.UnusedApps
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This playbook edits rules with unused applications or rules that
        are port based, and adds an application to the rule. It includes communication
        tasks to get a rule name and the application to edit from the user.
      id: 84136f6d-3e4c-4138-8852-030c6b3ec1c3
      iscommand: false
      name: Policy Optimizer - Add Applications to Policy Rules
      playbookId: Policy Optimizer - Add Applications to Policy Rules
      type: playbook
      version: -1
    taskid: 84136f6d-3e4c-4138-8852-030c6b3ec1c3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 1770
        }
      }
  "28":
    continueonerrortype: ""
    form:
      description: Choose the policy rules to be deleted by the PAN-OS integration.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Unused applications rules to delete
        options: []
        optionsarg:
        - complex:
            accessor: '@name'
            root: PanOS.PolicyOptimizer.UnusedApps
        placeholder: ""
        readonly: false
        required: true
        tooltip: Choose the policy rules to be deleted by the PAN-OS integration.
        type: multiSelect
      sender: ""
      title: Unused applications rules to delete
      totalanswers: 0
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Choose policy rules to delete
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Choose policy rules to be deleted by the playbook.
      id: 75c25270-74cc-490c-8199-1d33bf87e10b
      iscommand: false
      name: Choose rules to delete
      type: collection
      version: -1
    taskid: 75c25270-74cc-490c-8199-1d33bf87e10b
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1260,
          "y": 1770
        }
      }
  "29":
    continueonerrortype: ""
    form:
      description: PAN-OS Policy Optimizer has discovered rules with unused applications
        in your environment. If you have application-based Security policy rules that
        allow a large number of applications, you can remove unused applications (applications
        never seen on the rules) from those rules to only allow applications actually
        seen in the rule’s traffic.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Please choose the action for the playbook to continue
        options: []
        optionsarg:
        - simple: Edit rule
        - simple: Delete rule
        - simple: Manual action
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Rules with Unused Applications
      totalanswers: 0
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: PAN-OS Policy Optimizer has discovered rules with unused applications
          in your environment.
      cc: null
      format: ""
      methods:
      - SlackV2
      subject:
        simple: PAN-OS Policy Optimizer has discovered rules with unused applications
          in your environment.
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.slack_user
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      subject:
        simple: PAN-OS Policy Optimizer has discovered rules with unused applications
          in your environment.
      to:
        complex:
          root: inputs.slack_user
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends a Slack message to a user.
      id: f1706759-07e9-4a87-8437-e7035349cdb4
      iscommand: false
      name: Send Slack message
      type: collection
      version: -1
    taskid: f1706759-07e9-4a87-8437-e7035349cdb4
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1600,
          "y": 1130
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.slack_user
          operator: isEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.email_address
          operator: isEmpty
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: No communication input configured?
      id: 7a6c3b11-3c90-4062-81d8-47284a147f55
      iscommand: false
      name: No communication input configured?
      type: condition
      version: -1
    taskid: 7a6c3b11-3c90-4062-81d8-47284a147f55
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2000,
          "y": 960
        }
      }
  "31":
    continueonerrortype: ""
    form:
      description: PAN-OS Policy Optimizer has discovered rules with unused applications
        in your environment. If you have application-based Security policy rules that
        allow a large number of applications, you can remove unused applications (applications
        never seen on the rules) from those rules to only allow applications actually
        seen in the rule’s traffic.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Please choose the action for the playbook to continue
        options: []
        optionsarg:
        - simple: Edit rule
        - simple: Delete rule
        - simple: Manual action
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Rules with Unused Applications
      totalanswers: 0
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: PAN-OS Policy Optimizer has discovered rules with unused applications
          in your environment.
      cc: null
      format: ""
      methods: []
      subject:
        simple: PAN-OS Policy Optimizer has discovered rules with unused applications
          in your environment.
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.email_address
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      subject:
        simple: PAN-OS Policy Optimizer has discovered rules with unused applications
          in your environment.
      to:
        complex:
          root: inputs.email_address
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Ask the user what action they want to take by a collection task.
      id: e1b4f120-f9e0-4cbb-85d1-4d3795746b1f
      iscommand: false
      name: Ask by task only
      type: collection
      version: -1
    taskid: e1b4f120-f9e0-4cbb-85d1-4d3795746b1f
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 2180,
          "y": 1130
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_16_#default#": 0.44,
      "18_16_#default#": 0.2,
      "19_2_#default#": 0.16,
      "1_2_#default#": 0.35,
      "23_24_yes": 0.4,
      "25_24_Yes": 0.42,
      "5_2_#default#": 0.21,
      "8_10_#default#": 0.46,
      "9_10_#default#": 0.43
    },
    "paper": {
      "dimensions": {
        "height": 2655,
        "width": 2190,
        "x": 370,
        "y": 20
      }
    }
  }
